<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../public/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c42cc8b862.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="amarillo-bg">
     
        <div class="home-flex">
          
            <div class="logo">
              <img src="./images/logo-mercado-liebre.svg" alt="logo-mercado-libre"  />
            </div>
  
            <div class="barra-busqueda">
              <div class="buscador">
                <input type="search" alt="buscar producto, marcas.." placeholder="Buscar producto, marca.." name="buscador"/>
                <button name="buscador" type="submit" class="lupa">  <i class="fa-solid fa-magnifying-glass"></i> </button>
              </div>
      
            </div>
            <p class="cuerpo-txt"> <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
  
        </div>
       
        <nav class="main-navbar">
          <ul>
            <li>
              <a href="#">Ofertas</a>
            </li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li>
              <a href="#">Vender</a>
            </li>
            <li >
              <a href="#">Ayuda</a>
            </li>
          </ul>
  
          <ul>
            <li>
              <a href="/register">Crear tu cuenta</a>
              <i class="fa-regular fa-address-card"></i>
            </li>
            <li>
              <a href="/login">Ingresar</a>
              <i class="fa-solid fa-right-to-bracket"></i>
            </li>
            <li>
              <a href="#">Mis compras</a>
              <i class="fa-solid fa-basket-shopping"></i>  
            </li>
  
          </ul>
        </nav>
        <div class="menu-burger gris-claro-txt">
          <i class="fas fa-bars celeste-bg"></i>
          </div>
          
        </header>

        <main class="main-header">

          <form action="/">
            <div class="contenedor-input">
              <h4>Datos personales:</h4>
              <input type="text" name="nombre" placeholder="Nombre y Apellido" class="datos"  pattern="[a-zA-Z]">
              <span>Este campo es requerido</span>
            </div>
            <input type="text" name="usuario" placeholder="Nombre de usuario" class="datos"  pattern="[a-zA-Z]{8}" >
            <input type="email" name="email" placeholder="E-mail" class="datos"title="El contenido debe contener lo requerido">

            <h4>Fecha de nacimiento:</h4>
            <input type="date" name="fecha" class="datos">
            <input type="text" name="domicilio" placeholder="domicilio" class="datos"  >

            <h4>Perfil del usuario:</h4>          
            <div class="perfil">
              <label for="comprador">Comprador </label>  
              <input type="radio" name="usuario" value="comprador" class="radios">
              <label for="vendedor">Vendedor</label>
              <input type="radio" name="usuario" value="vendedor" class="radios">

            </div>

            

            <h4>Intereses:</h4>

            <div class="intereses">
              <div class="check">
                <input type="checkbox" name="Interes" value="electro">
                <label for="electro">Electro</label>
              </div>

              <div class="check">
                <input type="checkbox" name="Interes" value="modas">
                <label for="modas">Modas</label>
              </div>

              <div class="check">
                <input type="checkbox" name="Interes" value="hogar">
                <label for="hogar">Hogar</label>
              </div>

              <div class="check">
                <input type="checkbox" name="Interes" value="jugeteria">
                <label for="jugeteria">Jugeteria</label>

              </div>
              <div class="check">              
                <input type="checkbox" name="Interes" value="vida-Sana">
                <label for="vida-Sana">Vida Sana</label>
              </div>
            
            </div>

            <h4>Foto de perfil</h4>
            <input type="file" name="foto">
           
            <input type="text" name="nombre-usuario" placeholder="Nombre de usuari@" class="datos" pattern="[a-zA-Z]{8}" title="El contenido debe contener lo requerido" href="/">
            <input type="password" name="contraseña" placeholder="Contraseña" class="datos" pattern="[a-zA-Z0-9 @$?]{12}" title="El contenido debe contener lo requerido">
            <input type="password" name="contraseña" placeholder="Confirmar Contraseña" class="datos" pattern="[a-zA-Z0-9 @$?]{12}" title="El contenido debe contener lo requerido">
            
            <div class="botn-box">
              
              <button type="submit" class="botn" value="Enviar" href="/">Enviar</button> 
              <button type="reset" class="botn" value="Borrar">Borrar</button>
            </div>

          </form>


      
        </main>
        <footer class="blanco-bg footer-box-shadow">
      
          <div class="footer-section">
    
            <section>
              <div class="iconos iconos-celeste">
                <i class="fa-solid fa-credit-card celeste" ></i>
              </div>
              <h3 class="contenido-titulo-centrado" >Pagá con tarjeta o en efectivo</h3>
              <p class="contenido-text-centrado gris-oscuro-txt">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
              </p>
            </section>
    
            <section>
              <div class="iconos iconos-celeste">
                <i class="fa-solid fa-gift celeste"></i>
              </div >
              <h3 class="contenido-titulo-centrado" >Envío gratis desde $ 2.500</h3>
              <p class="contenido-text-centrado gris-oscuro-txt ">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
              </p>
            </section>
    
            <section>
              <div class="iconos iconos-celeste">
                <i class="fa-solid fa-user-shield celeste"></i>
              </div>
              <h3 class="contenido-titulo-centrado" >Seguridad, de principio a fin</h3>
              <p class="contenido-text-centrado gris-oscuro-txt ">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
              </p>
            </section>
          </div>
          
          <section>
            <h3 class="contenido-text-centrado gris-oscuro-txt " >Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
          </section>
        </footer>
</body>
</html>