/* mobil */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    background-color: #ebebeb; 
}


/* paleta de colores */

    .amarillo-bg {
        background-color: #EAC926;
    }
    .azul-bg {
        background-color: #03264C;
    }
    .celeste-bg {
        background-color: #1259c3;
    }

    .gris-claro-txt {
        color: #ebebeb;
    }

    .gris-oscuro-txt {
        color: #666;;
    }

    .blanco-bg {
        background-color: white;
    }


/* Tamaño del texto */

.cuerpo-txt {
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.titulares-txt {
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.precio-txt {
    font-size: 18px;
}
.descuento-txt{
    color: green;
  
}
.Descripcion-txt{
    margin-top: 8px ;
}



.descuento-txt .Descripcion-txt {
    font-size: 16px;
}

/* tamaño de las imagenes y el margen del buscador*/
.buscador input{
    width: 85%;
    border: none;
    padding: 1px 10px 1px 5px;
    border-right: #ebebeb solid 1px;
}


.logo  {
    width: 50%;
    padding: 5px;
}

.barra-busqueda{
    width: 50%;
    padding: 5px;
}

.buscador {
  background-color: white;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lupa{
    display: inline;
    cursor: pointer;
    color: #666;
    padding: 4px;
    font-size: 70%;
    border: none;
    background-color: white;
}

.productos {
    width: 100%;
}
img.banner{
    width: 100vw;
 }

/* menu de la hamburgesa*/

div.menu-burger {
    padding: 15px;
    text-align: center;
}

.fas {
    padding: 8px;
    border-radius: 7px;
}

/* titulos del footer */
footer {
    margin: 8px;
}
.contenido-titulo-centrado {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0px;
}

.contenido-text-centrado {
    text-align: center;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* iconos */

.iconos{
    padding-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2em;
}

.iconos-celeste {
    color: #1259c3;
}


/* logo de camion */
.product-desc-box > .product-delivery-icon{
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}    
.product-desc-box {
position: relative;
}


.envio-pg-color{
    color: green;
    padding-bottom: 10px;
}

/* .envio-border{
    border: green 1px solid;
    border-radius: 50%;
    padding: 6px;
} */


/* seccion de productos y articulos */

.section-productos {
    margin: auto;
    width: 90vw;
    
}
.product-desc-box{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    text-align: left;
}

article {
    margin-bottom: 10px;
}

.main-navbar{
    display: none;
}

.Descripcion-txt{
    display: none;
    transition: all 3s;
    
}

    /* la home  */
    .home-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 10px;
    }


    /* efecto transicion */
    
  article:hover .Descripcion-txt{
        transition: all 0.7s;
        display: block;  
  } 

  article:hover i {
        transition: transform 0.7s; 
        transform: rotate(-90deg)

       
} 

/* hover a los iconos */
  footer i:hover{
    color: #12c33e;
}

/* hover navbar */




@media (min-width: 575px){
/* tablets */
/* Home flex */
.home-flex{
    display: flex;
    justify-content: space-between;
}

/* seccion de productos */

.section-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-productos-top,
.section-productos-boton{
        margin-bottom: 10px;
        width: 45%;
}

/* imagenes  */
div.logo{
    width: 20%;
}

div.barra-busqueda{
    width: 38%;
    font-size: 1.9rem;
}

input:focus{
outline: solid #ebebeb;
}

img.banner{
   width: 100vw;
}


/* navbar */

 .cuerpo-txt{
    width: 30%;
    font-size: 80%;
 }
 nav.main-navbar {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    font-size: 0.8rem;
    }

    .main-navbar ul{
        display: flex;
        padding-bottom: 10px;
        list-style: none;
        justify-content: space-between;
        
    }

    .main-navbar a{
        text-decoration: none;
        font-weight: 400;
        color: black;
        padding-left: 10px;
} 

    .main-navbar a:hover{
        color: #1259c3;
    }
    .main-navbar a i{
        display: flex;
        align-items: center;
    }

    .menu-burger{
        display: none;
}

/* textos */
    .precio-descuento{
         display: flex;
         align-items: center;
         padding-bottom: 5px;
}
.precio-txt{
padding-right: 10px;
}
/* desaparecer */
.envio-border{
display: none;
border: none;
padding: 0;
}

article i {
    transition:  transform 0.7s ;
} 

/* aparecer la descripcion */
/* .Descripcion-txt{
display: block;
} */
/* sombreado de cuadro */
.footer-box-shadow,
.figuras-box-shadow{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/* logo de envio */
.product-desc-box > .product-delivery-icon{
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}    
.product-desc-box {
position: relative;
}


article:hover .Descripcion-txt{
display: block;  
} 
/* hover a los iconos */
footer i:hover{
color: #12c33e;
}

}

/* --------------------------------------------------------- */

@media (min-width: 992px) {
/* Desktop */

.logo{
     width: 20%;
}
.banner{
    width: 100vw;
}

.barra-busqueda{
    width: 20%;
}

/* navbar */
nav.main-navbar{
    font-size: 1.1rem;
}
.main-navbar li{
    text-decoration: none;

}

/* Hamburgesa */
.menu-burger{
    display: none;
}

/* palabras */
/* .Descripcion-txt{
       display: block;
  } */

  .cuerpo-txt{
    width: auto;
    max-width: 1200px;
    font-size: 100%;
}
  


.precio-txt, .descuento-txt{
    display: inline-block;
}

.descuento-txt{
    padding-left: 10px ;
}

/* logo del carrito */

/* .envio-border{
     display: none; 
    border: none;
    padding: 0;
   
} */

article i {
    transition: transform 0.7s ;
}

.product-desc-box {
position: relative;
}

/* figuras */
.footer-box-shadow,
.figuras-box-shadow{
   box-shadow: 0px 0px 10px rgb(100, 100, 100);
   /* width: 50vw; */
   margin: auto;
}

.product-desc-box > .product-delivery-icon{
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}

 /* seccion de productos */

 .section-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-productos-top,
.section-productos-boton{
        margin-bottom: 10px;
        width: 22%;
        padding-bottom: 10px;
}



article:hover .Descripcion-txt{
    display: block;  
    
} 


/* footer-section */

.footer-section{
    display: flex;
    padding: 10px;
}



/* hover a los iconos */
footer i:hover{
    color: #12c33e;
}


}
